/* styles.css */
.accordion {
    margin-top: 20px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.card-header button {
    width: 100%;
    text-align: left;
}

.card-body {
    padding: 10px 20px;
}

.spinner-border {
    margin-top: 20px;
}
